<router-outlet>
    <div class="row display-flex-center">
        <h2 class="text-center mt-4">Submit Tax Filing</h2>
        <div class="text-center mt-3 display-flex-row">
            <button type="button" class="btn btn-ligth btn-page" [ngClass]="{'disable-btn-page': curentPage !== 1}" disabled>1</button>
            <hr class="width-100px">
            <button type="button" class="btn btn-ligth btn-page" [ngClass]="{'disable-btn-page': curentPage !== 2}" disabled>2</button>
        </div>
        <div class="col-12 col-md-6" *ngIf="curentPage === 1">
            <!-- <app-input></app-input> -->
            <div class="container mt-4">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3 hr-titel" >
                            <h5 class="mb-2">1. Tax Filing Detail</h5>
                        </div>
                        <div>
                            <label for="exampleFormControlInput1" class="form-label">Type of filing <span
                                    class="text-danger ng-star-inserted">*</span></label>
                        </div>
                        <div class="mb-3">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                    value="0" [checked]="taxFilingData.filingType === '0'"
                                    (click)="changeTypeState($event)">
                                <label class="form-check-label" for="inlineRadio1">Ordinary Filing</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                    value="1" [checked]="taxFilingData.filingType === '1'"
                                    (click)="changeTypeState($event)">
                                <label class="form-check-label" for="inlineRadio2">Additional Filing</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-6">
                                    <label for="exampleFormControlInput1" class="form-label">Tax Month
                                        <span class="text-danger ng-star-inserted">*</span></label>
                                    <div class="row">
                                        <div class="col-6 col-md-7">
                                            <select class="form-select" aria-label="Default select example"
                                                [(ngModel)]="taxFilingData.month">
                                                <option *ngFor="let month of monthList">{{month}}</option>
                                            </select>
                                        </div>
                                        <div class="col-6 col-md-5">
                                            <select class="form-select" aria-label="Default select example"
                                                [(ngModel)]="taxFilingData.year">
                                                <option *ngFor="let year of yearList">{{year}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-6" *ngIf="taxFilingData.filingType === '1'">
                                    <label for="exampleFormControlInput1" class="form-label">Type
                                        <span class="text-danger ng-star-inserted">*</span></label>
                                    <div class="row">
                                        <div class="col-6">
                                            <select class="form-select" aria-label="Default select example">
                                                <option value="1">On-Time</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <small *ngIf="invalidMonth || invalidYear" class="p-error block">Invalid Data</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h5 class="mb-2">2. Tax Computayion</h5>
                            </div>
                            <div class="col-6 text-end">
                                <a href="#" class="text-dark" >View Exchange Rate</a>
                            </div>
                        </div>
                        <div class="mb-3 hr-titel" > </div>
                        <div class="mb-3">
                            <p class="fw-semibold">Provide total of taxable electronic service <span
                                    class="text-danger ng-star-inserted">*</span></p>
                        </div>
                        <div class="mb-3">
                            <div class="row display-align" >
                                <div class="col-6 col-md-8">
                                    <p class="mb-0">1. Total value of taxable electronic service exclusive of VAT</p>
                                </div>
                                <div class="col-6 col-md-4 text-end">
                                    <p-inputNumber [(ngModel)]="taxFilingData.saleAmount"
                                        class="text-end p-fluid p-inputnumber" inputId="locale-us" mode="decimal"
                                        placeholder="THB" locale="en-US"
                                        [ngClass]="{'ng-invalid ng-dirty': invalidSaleAmount}"
                                        (keyup)="saleAmountInput($event)" [minFractionDigits]="2">
                                    </p-inputNumber>
                                    <small *ngIf="invalidSaleAmount" class="p-error block">Invalid
                                        Data</small>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row display-align" >
                                <div class="col-6 col-md-8">
                                    <p class="mb-0">2. Total VAT to be remitted (7% of 1.)</p>
                                </div>
                                <div class="col-6 col-md-4 text-end">
                                    <p-inputNumber [(ngModel)]="taxFilingData.taxAmount"
                                        class="text-end p-fluid p-inputnumber"
                                        [ngClass]="{'ng-invalid ng-dirty': invalidTax}" inputId="locale-us"
                                        mode="decimal" (keyup)="taxAmountInput($event)" placeholder="THB" locale="en-US"
                                        [minFractionDigits]="2">
                                    </p-inputNumber>
                                    <small *ngIf="invalidTax" class="p-error block">Invalid
                                        Tax</small>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="taxFilingData.filingType === '1'">
                            <div class="mb-3">
                                <p class="fw-semibold">In case of late filling and payment, or additionnal filling</p>
                            </div>
                            <div class="mb-3">
                                <div class="row display-align" >
                                    <div class="col-6 col-md-8">
                                        <p class="mb-0">3. Surcharge</p>
                                    </div>
                                    <div class="col-6 col-md-4 text-end">
                                        <input [(ngModel)]="additionalData.surcharge" type="text"
                                            class="form-control text-end bg-secondary bg-opacity-50"
                                            id="exampleFormControlInput1" placeholder="0.00 THB" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row display-align" >
                                    <div class="col-6 col-md-8">
                                        <p class="mb-0">4. Penalty</p>
                                    </div>
                                    <div class="col-6 col-md-4 text-end">
                                        <input type="text" [(ngModel)]="additionalData.penalty"
                                            class="form-control text-end bg-secondary bg-opacity-50"
                                            id="exampleFormControlInput1" placeholder="0.00 THB" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="row display-align" >
                                    <div class="col-6 col-md-8">
                                        <p class="mb-0">5. Total amount of VAT, surcharge, and penalty to be remitted
                                            (2.+3.+4.)</p>
                                    </div>
                                    <div class="col-6 col-md-4 text-end">
                                        <input type="text" [(ngModel)]="additionalData.totalAmount"
                                            class="form-control text-end bg-secondary bg-opacity-50"
                                            id="exampleFormControlInput1" placeholder="0.00 THB" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6" *ngIf="curentPage === 2">
            <!-- <app-sumary></app-sumary> -->
            <div class="container mt-4">
                <div class="card">
                    <div class="card-body">
                        <div class="mb-3 hr-titel" >
                            <h5 class="mb-2">Tax Filing Detail</h5>
                        </div>
                        <div class="mb-3">
                            <div class="row display-align" >
                                <div class="col-5 col-lg-3">
                                    <p class="mb-0 fw-semibold">Type of filing</p>
                                </div>
                                <div class="col-7 col-lg-9">
                                    <p class="mb-0"> {{taxFilingData.filingType}}</p>
                                </div>
                            </div>
                            <div class="row display-align" >
                                <div class="col-5 col-lg-3">
                                    <p class="mb-0 fw-semibold">VAT Mouth</p>
                                </div>
                                <div class="col-7 col-lg-9">
                                    <p class="mb-0"> {{taxFilingData.month}} {{taxFilingData.year}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 hr-titel" >
                            <h5 class="mb-2">Tax Computayion</h5>
                        </div>
                        <div class="mb-3">
                            <div class="row display-align" >
                                <div class="col-6 col-md-8">
                                    <p class="mb-0 fw-semibold">Total value of taxable electronic service exclusive of
                                        VAT</p>
                                </div>
                                <div class="col-6 col-md-4 text-end">
                                    <p class="mb-0">{{taxFilingData.saleAmount.toFixed(2)}} THB</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row display-align" >
                                <div class="col-6 col-md-8">
                                    <p class="mb-0 fw-semibold">Total VAT to be remitted</p>
                                    <p class="mb-0">(7% of Total value of taxable elecronic service exclusive of VAT)
                                    </p>
                                </div>
                                <div class="col-6 col-md-4 text-end">
                                    <p class="mb-0">{{taxFilingData.taxAmount.toFixed(2)}} THB</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="row display-align" >
                                <div class="col-6 col-md-8">
                                    <p class="mb-0 fw-semibold">Total Amount Payable</p>
                                </div>
                                <div class="col-6 col-md-4 text-end">
                                    <p class="mb-0 fw-semibold">{{taxFilingData.totalAmount.toFixed(2)}} THB</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3 hr-titel">
                            <h5 class="mb-2">Declaration</h5>
                        </div>
                        <p class="mb-0">I hareby certify that information given above are true and correct and agree to
                            be bound by such information.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center mt-4">
            <button type="button" *ngIf="!isConfirmBtn" class="btn btn-outline-dark me-3 rounded-pill width-100px"
                (click)="goToBack()" [disabled]="btnBackDisabled">Back</button>
            <button type="button" *ngIf="!isConfirmBtn" class="btn btn-dark rounded-pill width-100px" (click)="goToNext()"
                [disabled]="btnNextDisabled">Next</button>
            <button type="button" *ngIf="isConfirmBtn" (click)="submit()" class="btn btn-dark rounded-pill width-200px">Confirm
                and Submit</button>
        </div>
    </div>
    <div class="modal" id="submitModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Submit</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="word-break-all">{{taxFilingJson}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-dark">Submit</button>
                </div>
            </div>
        </div>
    </div>
</router-outlet>
